@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');

.App {
  text-align: center;
}

/* section1 */

.App-header {
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(to bottom, #030303, #767883);
}

.info-funcion {
  font-family: 'Bungee Inline', cursive;
  font-size: 35px;
}

.presioneboton {
  font-family: 'Contrail One', cursive;
}

#boton-modal {
  background-color: #2e806e;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

#boton-modal:hover {
  background-color: #3ca891;
  border: #f2f8f7;
  color: rgb(248, 245, 245);
}

#boton-cerrar {
  width: 40%;
  margin-left: 140px;
  margin-bottom: 20px;
  background-color: #246355;
  border: solid 2px #0F362D;
}

#lista-modal {
  background-color: #e9eceb;
  border-radius: 10px;
}

#header-modal {
  background-color: #246355;
  color: #f2f8f7;
  font-family: 'Bungee Inline', cursive;
}

#card-usuario {
  background: linear-gradient(to bottom, #9597a3, #080808);
  margin-top: 30px;
  border-radius: 20px;
}

#card-usuario:hover {
  transform: translateY(-10px);
}

/* section2 */

.texto-formulario {
  margin-top: 70px;
  font-family: 'Bungee Inline', cursive;
}

.exclusivo {
  font-family: 'Contrail One', cursive;
}

#card {
  background-color: #dddddd;
  border-radius: 20px;
  box-shadow: 1px 10px 70px -8px #0a0a0a;
}

@media (min-width:1100px) {
  #card {
    margin-left: 150px;
    margin-right: 150px;
  }
}

.tabla-user {
  font-family: 'Bungee Inline', cursive;
}

.info-user {
  font-family: 'Contrail One', cursive;
}

#boton {
  background-color: #246355;
  color: white;
  border: solid 2px #0F362D;
}

#boton:hover {
  background-color: #0F362D;
  color: white;
  border: solid 2px #246355;
  transform: translateY(-3px);
}

.title {
  padding: 1.2rem;
  font-size: 1.2rem;
  font-family: 'Contrail One', cursive;
}

.tablas {
  font-family: 'Bungee Inline', cursive;
}

.botonBusqueda {
  background-color: #246355;
  color: white;
  border-radius: 0.3125rem;
  margin-left: 0.75rem;
  padding: 5px;
}

.botonBusqueda:hover {
  background-color: #0F362D;
  transform: translateY(-3px);
}

.inputBusqueda {
  border-radius: 0.3125rem;
  padding: 0.1875rem;
  border-color: #0F362D;
}

.inputFiltro {
  border-radius: 0.3125rem;
  border-color: #0F362D;
  padding: 0.1875rem;
  margin-bottom: 1.875rem;
}

.listContainer {
  justify-content: center;
}

.table {
  text-align: start;
}

.table-responsive {
  margin-bottom: 20vh;
}

th,
td,
tr {
  border: solid #0F362D;
  padding: 0.625rem;
}

.thead {
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.tabla-tr {
  font-size: 0.9375rem;
  text-align: center;
}

