.App {
  text-align: center;
}

.App-header {
  background-color: #33353a;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#boton {
  background-color: #246355;
  color: white;
  border: solid 2px #0F362D;
}

.title {
  padding: 50px;
}


.listContainer { 
  justify-content: center;
}

.table { 
  text-align: start;
}

 th , td, tr {
  border: solid  #0F362D; 
  padding: 10px;
}

thead {
  background-color: #246355;
  border-bottom: solid 5px #0F362D;
  color: white;
}

tr:nth-child(even) {
  background-color: #dddddd;
  
}

.tabla-tr {
  font-size: 15px;
  text-align: center;
}